* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

/* Global Variables */
:root {
    --red: #ea4335;
    --green: #34a853;
    --blue: #4285f4;
    --yellow: #fbc005;
}

/* Navabar */
/* .logo img {
    max-width: 100px;
    mix-blend-mode: darken;
}

.logo a {
    color: #000;
    text-decoration: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.menu {
    display: flex;
    gap: 80px;
    padding: 20px 60px;
    border-radius: 200px;
    font-weight: 400;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0, 0.2);
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
}

.menu a:hover {
    text-decoration: underline;
}

nav {
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 80px;
} */

/* Hero Section  */
#hero {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}

.hero--image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero--image img {
    /* width: 70%; */
    max-width: 1536px;
    height: auto;
    /* margin: 0 auto; */
}

.hero--content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 50px 0;
}

.hero--content h1 {
    font-size: 3rem;
}

.hero--content p {
    font-size: 1.5rem;
}

.hero--button {
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--blue);
    color: white;
    padding: 10px 30px;
    max-width: 250px;
}

.hero--button:hover {
    opacity: 0.9;
}

.hero--text h1 {
    font-weight: 600;
    transition: 0.5s;
    text-shadow: 0 0 2px #000;
}

.hero--text h1:hover {
    -webkit-text-stroke: 2px #edeced;
    color: transparent;
}

#about {
    height: 44vw;
}

.para {
    line-height: 0;
    width: 60vw;
    z-index: 2;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 75vw;
    left: 6vw;
}

.box {
    height: 25vw;
    width: 70vw;
    position: absolute;
    top: 70vw;
    left: 0;
    background: transparent;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border: 15px white solid;
    border-radius: 0 10vw 10vw 0;
    z-index: 1;
}

.about-us h1 {
    margin: 2rem 0;
    text-transform: uppercase;
    background-image: linear-gradient(45deg, #ff5733, #3498db);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 800;
    font-size: 3rem;
    text-align: left;
    padding-top: 5vw 0vw 0vw 0vw;
}

.about1 {
    position: absolute;
    top: 60vw;
    right: 0;
    height: 13vw;
}

.about2 {
    position: absolute;
    top: 79vw;
    right: 6vw;
    height: 25vw;
}

/*Event-Section*/
#events {
    /* border: 1px solid black;*/
    margin: 7vw 0;
}

#events h2 {
    text-align: center;
    margin-bottom: 2vw;
    color: #1765cc;

}

.event_content {
    width: 95vw;
    height: 365px;
    position: relative;
    /*border: 2px solid black;*/
    padding: 1vw;

}

.event_parent {
    width: min-content;
    height: inherit;
    display: flex;
    /*justify-content:flex-start;*/
    gap: 35px;
    position: absolute;
    top: 0%;
    left: 0%;

}

.event {
    border: 2px solid #dadce0;
    background: #fff;
    border-radius: 8px;
    width: 340px;
    height: 355px;
    padding: 0.9vw;
}

.event_image {
    display: flex;
    justify-content: center;
    /* border: 1px solid black;*/
}

.event_image img {
    width: 300px;
    /*border: 2px solid black;*/

}

button {
    background-color: #1765cc;
    color: white;
    border: none;
    border-radius: 0.3vw;
    font-size: 0.8vw;
    font-weight: 600;
    padding: 0.5vw 1.5vw;
    margin: 0.4vw 0;
}

.event a {
    color: white;
    text-decoration: none;

}

.date,
.location {
    color: #888;
    text-align: start;
    font-size: 15px;
    padding: 0;
    margin: 8px 0;
}

.heading {
    color: #333;
    text-align: left;
    font-size: 15px;
    padding: 0;
    margin: 8px 0;
}


.primary {
    animation: primary 15s linear infinite;


}

@keyframes primary {
    from {
        left: 100%;
    }

    to {
        left: -125%;
    }
}

.event_parent:hover {
    animation-play-state: paused;
}

#team h2 {
    text-align: center;
}

#contact {
    text-align: center;
    box-shadow: rgba(102, 104, 127, 0.37) 8px 10px 32px 0px;
    backdrop-filter: blur(24.5px);
    background: moccasin;
    border-radius: 30px;
    border: 1px solid #edeced;
    display: block;
    margin: 4vw 20vw 2vw 20vw;
}


#contact h2 {
    font-weight: 600;
    transition: 0.5s;
    text-shadow: 0 0 2px #000;
}

#contact h2:hover {
    -webkit-text-stroke: 2px #edeced;
    color: transparent;
}

form input {
    text-align: center;
    display: block;
    border-radius: 20px;
    border-color: aliceblue;
    margin: 0 auto 10px;
    width: 20vw;
}

form textarea {
    text-align: center;
    display: block;
    border-radius: 20px;
    border-color: aliceblue;
    margin: 0 auto 10px;
    width: 40vw;
}

form button {
    text-align: center;
    display: block;
    border-radius: 10px;
    border-color: aliceblue;
    margin: 0 auto 10px;
    width: 100px;
    font-weight: 200;
    transition: 0.5s;
    text-shadow: 0 0 2px #000;
}

form button:hover {
    -webkit-text-stroke: 2px #090709;
    color: transparent;
}

/* footer section */
.row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer {
    background-color: black;
    height: 66vh;
    width: 100%;
    color: grey;
    position: relative;
    bottom: 0;

}

.f-info-socials i {
    font-size: 2rem;
    margin-right: 1rem;
}

.f-info-socials i:hover {
    font-weight: 500;
    color: #E2DFD2;
}

.f-info-links a {
    color: gray;
    text-decoration: none;
}

.f-info-links a:hover,
.links li:hover {
    text-decoration: underline;
    color: #E2DFD2;
}

.f-bottom p {
    margin-left: 2rem;
    text-align: justify;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 9rem;
}

.f-copyInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 0;
}

/* Team Section  */
#team {
    width: 100vw;
    margin: auto;
    position: relative;
    background-color: #fff;
}

.container-block {
    display: grid;
    width: 100vw;
    row-gap: 5rem;
    justify-content: center;
    place-items: center;
    margin: auto;
    overflow: hidden;
}

.container-block h1 {
    margin: 2rem auto;
    text-transform: uppercase;
    background-image: linear-gradient(45deg, #ff5733, #3498db);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 800;
    font-size: 3rem;
}

.container-block h1::before {
    content: "Meet Our Team";
}

.team-card-container:nth-child(n) .team-card {
    border-bottom: 4px solid #ea4335;
}

.team-card-container:nth-child(n + 2) .team-card {
    border-bottom: 4px solid #ea4335;
}

.team-card-container:nth-child(2n + 2) .team-card {
    border-bottom: 4px solid #fbc005;
}

.team-card-container:nth-child(3n + 2) .team-card {
    border-bottom: 4px solid #4285f4;
}

.team-card-container:nth-child(4n + 2) .team-card {
    border-bottom: 4px solid #3cba54;
}

.team-bg-img {
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}

.team-bg-img img:nth-child(1) {
    position: absolute;
    width: 240px;
    height: auto;
    left: -165px;
}

.team-bg-img img:nth-child(2) {
    position: absolute;
    width: 240px;
    height: auto;
    right: -165px;
    top: 50rem;
    transform: rotate(180deg);
}

.team-bg-img img:nth-child(3) {
    position: absolute;
    width: 240px;
    height: auto;
    left: -165px;
    top: 100rem;
}

.team-bg-img img:nth-child(4) {
    position: absolute;
    width: 240px;
    height: auto;
    right: -165px;
    top: 150rem;
    transform: rotate(180deg);
}

.team-bg-img img:nth-child(5) {
    position: absolute;
    width: 240px;
    height: auto;
    left: -165px;
    top: 200rem;
}

.team-bg-img img:nth-child(6) {
    display: none;
    position: absolute;
    width: 240px;
    height: auto;
    right: -165px;
    top: 250rem;
    transform: rotate(180deg);
}

.team-bg-img img:nth-child(7) {
    display: none;
    position: absolute;
    width: 240px;
    height: auto;
    left: -165px;
    top: 300rem;
}

.team-bg-img img:nth-child(8) {
    display: none;
    position: absolute;
    width: 240px;
    height: auto;
    right: -150px;
    top: 350rem;
    transform: rotate(180deg);
}


.img-wrapper {
    width: 100%;
}

.team-card {
    /* width: 290px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.team-card:hover {
    transform: scale(1.05);
}

.social-media-links {
    width: 125px;
    display: flex;
    justify-content: space-between;
}

.social-media-links a i {
    color: #000;
    font-size: 1.8rem;
    transition: all 0.3s ease-in-out;
}

.social-media-links a i:hover {
    transform: translateY(5px);
}

.name {
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}

.position {
    font-size: 0.9rem;
    color: rgb(109, 109, 109);
}

.team-img {
    width: 100%;
    height: 100%;
}

.team-card-container {
    width: 260px;
    margin: 0 0 40px 0;
}

.multiple-cards {
    display: grid;
    justify-content: center;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

.double-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    margin: auto;
}

.single-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

/* responsiveness for large screen  */
@media (min-width: 1024px) {
    .team-bg-img img:nth-child(7) {
        display: none;
    }

    .multiple-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .team-bg-img img:nth-child(5) {
        display: none;
    }

    .team-bg-img img:nth-child(6) {
        display: none;
    }

}

/* responsiveness for small devices  */
@media (max-width: 500px) {
    #hero {
        gap: 2rem;
        justify-content: center;
        flex-direction: column;
        padding: 0 2rem;
    }

    #hero .hero-image img {
        width: 300px;
    }

    .outer-container {
        padding: 10px 20px 10px 20px;
    }

    .section-head-text {
        text-align: center;
    }

}

/* responsiveness for screen < 720px */
@media (max-width: 719px) {
    .multiple-cards {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        row-gap: 0;
    }

    .container-block h1 {
        font-size: 2rem;
        font-weight: 600;
    }

    .double-cards {
        flex-direction: column;
    }

    .container-block {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-bg-img img:nth-child(1) {
        width: 220px;
        left: -160px;
    }

    .team-bg-img img:nth-child(2) {
        width: 220px;
        right: -160px;
    }

    .team-bg-img img:nth-child(3) {
        width: 220px;
        left: -160px;
        ;
    }

    .team-bg-img img:nth-child(4) {
        width: 220px;
        right: -160px;
    }

    .team-bg-img img:nth-child(5) {
        width: 220px;
        left: -160px;
        ;
    }

    .team-bg-img img:nth-child(6) {
        display: block;
        width: 220px;
        right: -160px;
    }

    .team-bg-img img:nth-child(7) {
        display: block;
        width: 220px;
        left: -160px;
    }

    .team-bg-img img:nth-child(8) {
        display: block;
        width: 220px;
        right: -160px;
    }

    .team-card {
        width: 250px;
        margin: auto;
    }
}
